{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid">
    <div class="container-fluid col-4 offset-4">
        <h1 class="text-center mt-5 mb-5">Cart</h1>
    </div>
    <div class="container-fluid col-10 offset-1">
        <hr>
        <h3 class="">Items: {{ product_count }}</h3>
        <h3 class="">Total: {{ total }}</h3>
    </div>

    {% for id in cart_items %}
    <div class="container mb-5 mt-4 col-10 offset-1">
        <hr>
        {% if  id.item_type == "1" %}
        <h3>Logo</h3>
        {% elif id.item_type == "2" %}
        <h3>Poster</h3>
        {% elif id.item_type == "3" %}
        <h3>Icon</h3>
        {% else %}
        <h3>Banner</h3>
        {% endif %}
        
        <p>Size: {{ id.size|title }}</p>
        <p>Description: {{ id.user_description }}</p>
        {% if  id.item_type == "True" %}
        <p>Fast Delivery: Yes</p>
        {% else %}
        <p>Fast Delivery: No</p>
        {% endif %}
        <form class="form" action="{% url 'remove_from_cart' %}" method="POST">
            {% csrf_token %}
            <textarea name="id" style="display:none;">{{ id.id }}</textarea>
            <br>
            <button type="submit" class="btn btn-primary mb-2 blue-bg font">Remove</button>
          </form>
    </div>
    
    {% endfor %}
</section>
{% endblock %}