{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="home-header" class="container-fluid fixed-top">
    <div id="home-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner h-100">
            <div id="carousel-item-1" class="carousel-item active">
                <div id="carousel-caption-1" class="carousel-caption col-8 col-md-4 my-auto">
                    <h1>MILESTONE 4</h1>
                </div>
            </div>
            <div class="carousel-item carousel-item-2">
                <img src="{% static 'img/multi_format.jpg' %}" alt="A logo displayed on screens and paper" class="float-right col-6">
                <div class="carousel-caption">
                    <p>MILESTONE 4<br>A GRAPHICS DESIGN<br>WEBSITE FOR A PORTFOLIO</p>
                </div>
            </div>
            <div class="carousel-item carousel-item-3">
                <img src="{% static 'img/logo_multiPlatform.jpg' %}" alt="A logo displayed on phone and tablet" class="float-left col-6">
                <div class="carousel-caption">
                    <p>USE THIS SITE TO SELL<br>YOUR GRAPHICS</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#home-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#home-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</header>

{% endblock %}