{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="home-header" class="container-fluid fixed-top">
    <div id="home-carousel" class="carousel slide carousel-fade" data-interval="5000000" data-ride="carousel">
        <ul class="carousel-indicators ">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
            <li data-target="#home-carousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner h-100">
            <div class="carousel-item carousel-item-1 active">
                <div class="float-left col-7 col-sm-6 carousel-item-image">
                    <div class="carousel-image-animation-cover"></div>
                </div>
                <div class="carousel-caption float-right text-right">
                    <p><span class="header">DESIGN SITE<br>A GRAPHICS SHOP<br>TO SELL
                            GRAPHICS WORK</span></p>
                    <div class="button-wrap float-right">
                        <div class="carousel-button-animation-cover carousel-button ">xxxxx xxxxx</div>
                        <a href="#" class="carousel-button" role="button" aria-pressed="true">ORDER
                            DESIGN</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-item-2">
                <div class="float-right col-6  col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-left text-left ">
                    <p><span class="header">MILESTONE 4<br>A GRAPHICS DESIGN<br>WEBSITE
                            FOR A PORTFOLIO</span></p>
                    <div class="button-wrap float-left">
                        <div class="carousel-button-animation-cover carousel-button ">xxxxx xxxxx</div>
                        <a href="#" class="carousel-button" role="button" aria-pressed="true">ORDER
                            DESIGN</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-item-3">
                <div class="float-left col-8 col-sm-6 carousel-item-image">
                    <div class="carousel-image-animation-cover"></div>
                </div>
                <div class="carousel-caption float-right text-right">
                    <p><span class="header">USE THIS<br>SITE TO SELL<br>YOUR GRAPHICS
                        </span></p>
                    <div class="button-wrap float-right">
                        <div class="carousel-button-animation-cover carousel-button ">xxxxx xxxxx</div>
                        <a href="#" class="carousel-button" role="button" aria-pressed="true">ORDER
                            DESIGN</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-item-4">
                <div class="float-right col-8 col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-left text-left ">
                    <p><span class="header">MILESTONE 4<br>A GRAPHICS DESIGN<br>WEBSITE
                            FOR A PORTFOLIO</span></p>
                    <div class="button-wrap float-left">
                        <div class="carousel-button-animation-cover carousel-button ">xxxxx xxxxx</div>
                        <a href="#" class="carousel-button" role="button" aria-pressed="true">ORDER
                            DESIGN</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev d-none d-md-flex" href="#home-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next d-none d-md-flex" href="#home-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</header>

{% endblock %}