{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="home-header" class="container-fluid fixed-top">
    <div id="home-carousel" class="carousel slide carousel-fade" data-interval="3000" data-touch="true"
        data-ride="carousel">
        <ul class="carousel-indicators d-none d-sm-flex">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
            <li data-target="#home-carousel" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner h-100">
            <div class="carousel-item carousel-item-1 active">
                <div class="float-left col-8 col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-right text-right">
                    <p>DESIGN SITE<br>A GRAPHICS SHOP<br>WEBSITE FOR A PORTFOLIO<br>
                        <a href="#" class="carousel-button float-right" role="button" aria-pressed="true">ORDER
                            DESIGN</a></p>

                </div>

            </div>
            <div class="carousel-item carousel-item-2">
                <div class="float-right col-8 col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-left text-left ">
                    <p>MILESTONE 4<br>A GRAPHICS DESIGN<br>WEBSITE FOR A PORTFOLIO<br>
                        <a href="#" class="carousel-button float-left" role="button" aria-pressed="true">ORDER
                            DESIGN</a></p>

                </div>

            </div>
            <div class="carousel-item carousel-item-3">
                <div class="float-left col-8 col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-right text-right">
                    <p>USE THIS<br>SITE TO SELL<br>YOUR GRAPHICS<br>
                        <a href="#" class="carousel-button float-right" role="button" aria-pressed="true">ORDER
                            DESIGN</a></p>

                </div>

            </div>
            <div class="carousel-item carousel-item-4">
                <div class="float-right col-8 col-sm-6 carousel-item-image"></div>
                <div class="carousel-caption float-left text-left">
                    <p>USE THIS<br>SITE TO SELL<br>YOUR GRAPHICS<br>
                        <a href="#" class="carousel-button float-left" role="button" aria-pressed="true">ORDER
                            DESIGN</a></p>

                </div>

            </div>
        </div>
        <a class="carousel-control-prev d-none d-md-flex" href="#home-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next d-none d-md-flex" href="#home-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</header>

{% endblock %}