{% load static %}

body {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Homepage carousel styling */

#home-header {
	background-color: rgb(37, 37, 37);
	height: 250px;
	padding: 0;
}

#home-carousel {
	height: 100%;
}

.carousel-caption {
	top: 15%;
	font-size: 22px;
	line-height: 1.2;
	margin-right: -10%;
}

.carousel-caption:nth-child(even) {
	margin-left: -10%;
}

.carousel-caption p {
	text-shadow: 2px 1px rgba(0, 0, 0, 0.43);
	width: auto;
}

.carousel-item {
	height: 100%;
	font-weight: bold;
}

.carousel-item-1 {
	background-image: linear-gradient(to right, rgba(250, 92, 119, 1), rgba(80, 110, 250, 1));
}

.carousel-item-2 {
	background-image: linear-gradient(to right, rgb(163, 226, 108), rgba(250, 243, 105, 1));
}

.carousel-item-3 {
	background-image: linear-gradient(to right, rgba(250, 92, 119, 1), rgba(80, 110, 250, 1));
}

.carousel-item-4 {
	background-image: linear-gradient(to right, rgb(163, 226, 108), rgba(250, 243, 105, 1));
}

.carousel-item-1 .carousel-item-image {
	background-image: url('../img/slider-img-1.jfif');
}

.carousel-item-2 .carousel-item-image {
	background-image: url('../img/slider-img-3.jpg');
}

.carousel-item-3 .carousel-item-image {
	background-image: url('../img/logo_multi.jpg.png');
}

.carousel-item-4 .carousel-item-image {
	background-image: url('../img/multi_format.jpg.png');
}

.carousel-item-image {
	position: relative;
	top: 10%;
	height: 80%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.carousel-button {
	margin-top: 20px;
	display: block;
	background-color: #fa5c77;
	text-decoration: none !important;
	color: white;
	font-size: 0.3em;
	border-radius: 0px;
	padding: 10px 25px;
	text-align: center;
}