<nav class="navbar w-100 navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav w-100 d-flex justify-content-end">
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link" href="#" id="nav-order" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Order</a>
            </li>

            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link" href="#" id="nav-portfolio" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link" href="#" id="nav-contact" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Contact</a>
            </li>

        </ul>
    </div>

</nav>