{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid border-top">
  {% if request.user.is_authenticated %}
  <form class="form col-lg-4 offset-lg-4 button-style p-5 border-box shadow bg-white my-5"
    action="{% url 'add_to_cart' %}" method="POST">
    <h1 class="h1-text-style mb-0 bold-font text-center">Order Form</h1>
    {% if order_page_elements_display == True %}
    <div class="container-fluid mt-3">
     <p class="text-center"><a class="color-pink" href="{% url 'view_cart' %}"><u>Proceed to cart</u></a> or make another order</p>
    </div>
    {% endif %}
    <hr>
    <p>Please describe what you what like the product to be in the fields below</p>
    {% csrf_token %}
    {% for input in form %}
    <div class="form-group">
      <label class="d-block" for="{{ field.auto_id }}">{{ input.label }}</label>
      <div class="form-check form-check-inline">
        {{ input }}
      </div>
    </div>
    {% endfor %}
    <hr>
    <br>
    <h6 class="d-block font-weight-bold">Price: $0.00</h6>
    <br>
    <button type="submit" class="btn btn-primary mb-2 pink-bg border-none font">Add to Cart</button>
  </form>

  {% else %}

  <div class="height-60vh row d-flex justify-content-center align-items-center">
    <p><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">register</a> to order a
      product.</p>


  </div>
  {% endif %}
</div>
{% endblock %}