{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row white-bg" style="border-top-style: solid;
border-top-color: rgb(239, 242, 255); border-top-width: 2px;">
  <div class="col text-center mt-5 mb-3">
    <h1 class="h1-text-style">Order</h1>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="container-fluid white-bg d-flex align-items-center justify-content-center pt-4 pb-5 font">
  <form class="form" action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    {% for input in form %}
    <div class="form-group">
      <label class="d-block" for="{{ field.auto_id }}">{{ input.label }}</label>
      <div class="form-check form-check-inline">
        {{ input }}
      </div>
    </div>
    {% endfor %}
    <br>
    <h6 class="d-block font-weight-bold">Price: $0.00</h6>
    <br>
    <button type="submit" class="btn btn-primary mb-2 blue-bg font">Order</button>
  </form>
</div>
{% else %}
<div class="col text-center mt-5 mb-5">
  <p><a href="{% url 'account_login' %}">login</a> or <a href="{% url 'account_signup' %}">register</a> to order a
    product.</p>
</div>
{% endif %}
{% endblock %}